/* Reset e Box Model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    display: block;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: url('../imagens/zurique.jpg') no-repeat center center/cover;
}


/* Estilização do Formulário */
.wrapper {
    position: relative;
    width: 400px;
    background: whitesmoke;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 27px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px 3px darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 62px auto;
    overflow: hidden;
    transition: transform 0.5s, height 0.2s ease;
}

/* Estilização do botão de fechar */
.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    background-color: darkred;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius: 20px;
}

/* Estilização do título */
.form-box h2 {
    font-size: 2em;
    color: #A31D1D;
    text-align: center;
    margin-top: 60px;
    width: 100%;
    height: 120px;
}

/* Estilização dos inputs */
.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #A31D1D;
    outline: none;
    color: #6D2323;
    font-size: 1rem;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-10%);
    font-size: 1rem;
    color: #6D2323;
    font-weight: bold;
    transition: all 0.3s ease;
}
.login-link {
    color: #A31D1D;
    cursor: pointer;
    text-decoration: none;
}
.login-link:hover {
    color: #6D2323;
    cursor: pointer;
    text-decoration: none;
}

/* Efeito ao focar */
.input-box input:focus + label,
.input-box input:valid + label {
    top: -20px;
    left: 10px;
    font-size: 0.9em;
    color: darkred;
}

/* Botão */
.btn {
    width: 100%;
    height: 45px;
    background: darkred;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background-color: #A31D10;
}
/* Responsividade */
@media (max-width: 768px) {
    .wrapper {
        width: 90%;
    }

    .form-box h2 {
        font-size: 1.5rem;
    }
}
